<!DOCTYPE html>
<head>
 <html lang="en">
 <title>Home Page</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
 <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
 <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
 <link rel="stylesheet" href="/styles/userPoll.css" type="text/css" />
 <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
 <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
   $( function() {
     $( ".sortable" ).sortable();
     $( ".sortable" ).disableSelection();
   } );
   // when the form submits
   // $.(ajax)
 </script>
 <script>
   $(document).ready(() => {
     const r_code = $(".hidden")[0].outerText;
     const name_title = $(".hidden")[1].outerText;
     const id = $(".hidden")[2].outerText;
     const handle = $("#handle").val()
     const ranks = {};
     ranks["res_code"] = r_code;
     ranks["survey_title"] = name_title;
     ranks["survey_id"] = id;
     ranks["handle"] = handle;
     const options = $(".ui-state-default").length
     $("#form").submit(function(event) {
       console.log($(this).children('input').val())
       event.preventDefault()
       for (i = 0; i < options; i++ ) {
         ranks[$(".ui-state-default")[i].childNodes[0].data] = i
       }
       $.ajax({
         type: 'POST',
         url: '/userPoll',
         data: ranks,
         more: handle,
         success: function(data, more){
           // window.location = "/vote_result";
         },
         error: function(xhr, type, exception) {
         // if ajax fails display error alert
         alert("ajax error response type "+type);
         }
       });
     })
   })
   window.onscroll = function() {scrollFunction()};
   function scrollFunction() {
     if (document.body.scrollTop > 700 || document.documentElement.scrollTop > 700) {
       document.getElementById("myBtn").style.display = "block";
     } else {
       document.getElementById("myBtn").style.display = "none";
     }
   }
   function topFunction() {
     document.documentElement.scrollTop = 0;
   }
 </script>
</head>
 <body>
   <nav class="header">
     <h1 href="/">iWant</h1>
     <form method="GET" action="/createPoll">
       <div class="button_cont" align="center">
         <input class="headerNewPoll" type="submit" target="_blank" rel="nofollow noopener" value="Create New Poll">
       </div>
     </form>
   </nav>
   <main>

     <p class = "hidden"><%=res_code %></p><p class = "hidden"><%=title %></p><p class = "hidden"><%=survey_id %></p>
     <section>
       <h1 class="font1" id = "title"><%=title %></h1>
       <h3 class="font1">Drag and drop your Options to Rank from Best to Worst
       <br></br>
         <form id = "form">
           <ul class="sortable">
             <%  for (i=0; i < numOptions; i++) { %>
                 <li class="ui-state-default"><%= opt[i] %><p class = "descript"><%= desc[i] %></p></li>
             <% } %>
           </ul>
  <!--          <h1 class="font1">Enter Your Handle!</h1> -->
           <input id= "handle" type= "text"  name= "handle" placeholder= "Handle"></input>
           <div class="button_cont" align="center">
             <input id="but" type="submit" value="Submit">
           </div>
           <br></br>
         </form>
         <div>
<!--
            <div class="button_cont" align="center">
            <input id="but" type="submit" target="_blank" rel="nofollow noopener" value="handle"> -->
         </div>
       </h3>
     </section>
   </main>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
 </body>
</html>
